.Cart {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 1rem;
  padding: 1rem;
}

.showCart {
  grid-column: 1;
  grid-row: 1;
}

.cartItems {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max-content, 250px));
  place-items: start;
  padding: 0 1rem;
  gap: 1rem;
}

.cartItems > li {
  background-color: var(--grey);
  padding: 1rem 1.5rem;
  list-style: none;
  border: 2px solid var(--main-pink);
}