.Cart {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 1rem;
  padding: 1rem;
}

.showCart {
  grid-column: 1;
  grid-row: 1;
}

.cartItems {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max-content, 300px));
  place-items: start;
}